body {
    background-color: ghostwhite;
}

.vending-machine {
    max-width: 1000px;
    margin: 50px auto;
}

.machine-display {
    background-color: #000;
    color: #0F0; /* Digital green color */
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #0F0;
}

.machine-display .digital {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
}

.product-icon {
    font-size: 30px;
}

.coin-icon {
    font-size: 24px;
    color: gold;
}

.product-card {
    text-align: center;
    margin-bottom: 20px;
}

.product-card .card-body {
    padding: 10px;
}

.small-alert {
    padding: 5px 10px;
    font-size: 0.9rem;
    margin: 10px auto;
    max-width: 300px;
    border-radius: 3px;
}

.product-code {
    background-color: darkgrey;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
}

.product-code:hover {
    background-color: #28a745;
}
